
.navegador {
    background-color: #c3829e;
    height: 70px;
}

.greeting {
    font-size: 30px;
    color: 	#c3829e;
    text-align: center;

}

.cardContainer {
   display: inline;
}

h1 {
    font-size: 50px ;
}